<template>


    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <router-link to="/players">
                                <i class="fas fa-list"></i>Players</router-link>
                        </li>
                        <li>
                            <router-link to="/games">
                                <i class="fas fa-gamepad"></i>Games</router-link>
                        </li>
                        <li>
                            <router-link to="/parameter">
                                <i class="fas fa-cog"></i>Parameter</router-link>
                        </li>
                        <li>
                            <router-link to="/map">
                                <i class="fas fa-map-marker-alt"></i>Maps</router-link>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li v-bind:class="{active: $route.name === 'players'}">
                            <router-link to="/players">
                                <i class="fas fa-list"></i>Players</router-link>
                        </li>
                        <li v-bind:class="{active: $route.name === 'games'}">
                            <router-link to="/games">
                                <i class="fas fa-gamepad"></i>Games</router-link>
                        </li>
                        <li v-bind:class="{active: $route.name === 'parameter'}">
                            <router-link to="parameter">
                                <i class="fas fa-cog"></i>Parameter</router-link>
                        </li>
                        <li  v-bind:class="{active: $route.name === 'map'}">
                            <router-link to="/map">
                                <i class="fas fa-map-marker-alt"></i>Maps</router-link>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="">


                        <router-view></router-view>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "app",
        mounted() {

            $('.hamburger').on('click', function () {
                $(this).toggleClass('is-active');
                $('.navbar-mobile').slideToggle('500');
            });
            $('.navbar-mobile__list li.has-dropdown > a').on('click', function () {
                var dropdown = $(this).siblings('ul.navbar-mobile__dropdown');
                $(this).toggleClass('active');
                $(dropdown).slideToggle('500');
                return false;
            });
        }
    }
</script>

<style scoped>

</style>