<template>
    <div class="login-wrap">
        <div class="login-content">
            <div class="login-logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="CoolAdmin">
                </a>
            </div>
            <div class="login-form">
                <form @submit="submitFormLogin">
                    <div class="form-group">
                        <label>Login</label>
                        <input class="au-input au-input--full" type="text" name="form-login" placeholder="Login">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="au-input au-input--full" type="password" name="form-password" placeholder="Password">
                    </div>
                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Connexion</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    import axios from 'axios';

    export default {
        name: "Login",
        methods: {
            submitFormLogin: function (e) {

                const data = {
                    login: $(e.target).find("input[name=form-login]").val(),
                    password: $(e.target).find("input[name=form-password]").val(),
                }

                const self = this;

                axios.post("https://192.168.75.35/users/adminToken?login=" + data.login + "&password=" + data.password )
                    .then(function (response) {
                        sessionStorage.setItem("token", response.headers["authorization"]);
                        self.$router.push("/players");
                    })
                    .catch(function (fail) {
                    });


                e.preventDefault();
            }
        }
    }
</script>

<style scoped>

</style>