<template>
    <div class="row">
        <div class="col-12">
            <h2>Carte</h2>
            <div class="form-group">
                <label for="zoom">Zoom : <span id="zoomValue"></span></label>
                <input type="range" class="form-control-range" id="zoom" name="zoom" min="1" max="20" @change="setZoomEvent" v-bind:value="zoom">
            </div>

        </div>
        <div class="col-12">
            <div id="map" ></div>
        </div>
    </div>
</template>

<script>

    import clientStore from "../stores/client";
    import Vuex from "vuex";
    var listMarker = L.layerGroup();

    export default {
        store: clientStore,
        data() {
            return {
                nameApp: "M1IF13",
                latitude: 45.782,
                longitude: 4.8656,
                zoom: 15,
                map: null,
                markers: [],
                markersElement: {},
            }
        },
        computed: {
            ...Vuex.mapGetters([
                "getMarkers",
                "getPlayers",
                "getElements",
            ])
        },
        methods: {
            formGraphRequest: function (e) {
                clientStore.commit("commit_pos", JSON.stringify({
                    latitude: parseFloat($('#lat').val()),
                    longitude: parseFloat($('#lon').val()),
                    zoom: parseInt($("#zoom").val())
                }));

                e.preventDefault();
            },
            updateMap: function () {
                this.map.setView([this.latitude, this.longitude], this.zoom);
            },
            setZoomValue: function(zoomValue) {
                $('#zoomValue').html($('#zoom').val());
                if (this.zoom !== zoomValue) {
                    this.zoom = zoomValue;
                    let self = this;
                    self.map.setView([ self.map.getCenter().lat, self.map.getCenter().lng], self.zoom);
                }
            },
            setZoomEvent: function (zoom) {
                let zoomValue = parseInt($(zoom.target).val());
                if (zoomValue) {
                    this.setZoomValue(zoomValue);
                }
            },
            createMarker: function (map) {
                L.Icon.Default.imagePath = '/';
                const listPlayer = Object.values(this.getPlayers);
                const elements = this.getElements;
                const beforeUpdatePlayer = listPlayer.map(e => e.id);

                for (var i in listPlayer) {
                    var player = listPlayer[i];

                    beforeUpdatePlayer.splice(beforeUpdatePlayer.indexOf(player.id), 1);

                    if (player.status === "dead") {
                        map.removeLayer(this.markers[player.id]);
                        delete this.markers[player.id];
                    } else if (!this.markers[player.id]) {
                        this.markers[player.id] = L.marker([player.position.latitude, player.position.longitude]);
                    } else {
                        this.markers[player.id].setLatLng(new L.LatLng(player.position.latitude, player.position.longitude));
                    }
                    this.markers[player.id].bindPopup(player.id);
                    listMarker.addLayer(this.markers[player.id]).addTo(map);
                }

                for (var i in beforeUpdatePlayer) {
                    map.removeLayer(this.markers[beforeUpdatePlayer[i]]);
                    delete this.markers[beforeUpdatePlayer[i]];
                }

                var beforeUpdateElements = Object.keys(this.markersElement);

                for (const i in elements) {
                    const element = elements[i];

                    var icon = new L.icon({
                        iconUrl: element.icon,
                        iconSize: [38, 95],
                        shadowSize: [50, 64],
                        iconAnchor: [22, 94],
                        shadowAnchor: [4, 62],
                        popupAnchor: [-3, -76]
                    });

                    beforeUpdateElements.splice(beforeUpdateElements.indexOf(element.id), 1);

                    if (this.markersElement[element.id] === undefined) {
                        this.markersElement[element.id] =  L.marker([element.position[0], element.position[1]], {icon: icon});
                        listMarker.addLayer(this.markersElement[element.id]).addTo(map);
                    } else {
                        this.markersElement[element.id].setLatLng(new L.LatLng(element.position[0], element.position[1], {icon: icon}));
                    }
                }

                for (i in beforeUpdateElements) {
                    map.removeLayer(this.markersElement[beforeUpdateElements[i]]);
                    delete this.markersElement[beforeUpdateElements[i]];
                }
            },
            createPolygone: function(map) {
                const polygone = this.getPolygone;
                if(polygone.length !== 0) {
                    var tracePolygon = L.polygon(polygone).addTo(map);
                }
            }
        },
        mounted() {

            // initialisation de la map
            this.map = L.map('map');

            // Création d'un "tile layer" (permet l'affichage sur la carte)
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibTFpZjEzIiwiYSI6ImNqczBubmhyajFnMnY0YWx4c2FwMmRtbm4ifQ.O6W7HeTW3UvOVgjCiPrdsA', {
                maxZoom: 20,
                minZoom: 1,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets',
            }).addTo(this.map);
            $('#zoomValue').html($('#zoom').val());

            let self = this;
            this.map.on('zoom', function(event) {
                if (self.zoom !== event.target.getZoom()) {
                    self.setZoomValue(event.target.getZoom());
                }
            });

            this.createPolygone(this.map);

            this.updateMap();

        },
        watch: {
            getPlayers: function () {
                this.createMarker(this.map);
            }
        }
    }

</script>

<style scoped>

</style>