<template>

</template>

<script>

    import clientStore from "../stores/client";
    import Vuex from 'vuex';

    export default {
        store: clientStore,
        data() {
            return {

            }
        },
        computed: {
        },
        methods: {
        }
    }

</script>

<style scoped>

</style>