<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--/*@thymesVar id="httpStatus" type="java.lang.Integer"*/-->
    <title th:text="'Erreur ' + ${httpStatus}"></title>

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <!--/*@thymesVar id="httpStatus" type="java.lang.Integer"*/-->
            <h1 th:text="${httpStatus}"><span>E</span><span>r</span><span>r</span><span>e</span><span>u</span><span>r</span></h1>
            <!--/*@thymesVar id="errorMessage1" type="java.lang.String"*/-->
            <h3 th:text="${errorMessage1}">Une Erreur inconnue est survenue !</h3>
            <h1>
                <span>
                    <span th:text="${httpStatus.toString().substring(0,1)}"></span><span th:text="${httpStatus.toString().substring(1,2)}"></span><span th:text="${httpStatus.toString().substring(2)}"></span>
                </span>
            </h1>
        </div>
        <!--/*@thymesVar id="errorMessage2" type="java.lang.String"*/-->
        <h2 th:text="${errorMessage2}">Nos développeurs sont actuellement en train de corriger le problème.</h2>
        <div class="home-btn-div">
            <a href="" class="home-btn btn">Retourner à l'acceuil</a>
        </div>
    </div>


</div>



<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="46161e1a37e056083d7a969e-text/javascript"></script>
<script type="46161e1a37e056083d7a969e-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="46161e1a37e056083d7a969e-|49" defer=""></script></body>
</html>
