<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/public/error/css/style.css}"/>
</head>
<body>
<h1>User List</h1>
<div>
    <table border="1">
        <tr>
            <th>user</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user}">...</td>
        </tr>
    </table>
</div>
</body>
</html>
