<template>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Ajouter un utilisateur</strong>
            </div>
            <form @submit="submitFormAddUser" @reset="resetFormAddUer"
                  class="form-horizontal">
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Login</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" name="form-login" placeholder="Login" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Password</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="password" name="form-password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Avatar</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" name="form-avatar" placeholder="Avatar" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">ttl</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="number" name="form-ttl" placeholder="100" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Status</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="form-status" class="form-control">
                                <option value="alive">alive</option>
                                <option value="dead">dead</option>
                                <option value="element">element</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Confirmer
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Annuler
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

    import axios from 'axios';
    import clientStore from "../../stores/client";

    export default {
        name: "Add",
        store: clientStore,
        methods: {
            getDataForm: function(form) {
                return {
                    login: $(form).find("input[name=form-login]").val(),
                    password: $(form).find("input[name=form-password]").val(),
                    avatar: $(form).find("input[name=form-avatar]").val(),
                    ttl: $(form).find("input[name=form-ttl]").val(),
                    status: $(form).find("select[name=form-status]").val(),
                };
            },
            submitFormAddUser: function(e) {

                const data = this.getDataForm(e.target);
                const self = this;

                axios.post("https://192.168.75.35/users/users", {
                    login : data.login,
                    password: data.password
                })
                    .then(function () {
                        axios.post("https://192.168.75.35/api/resources/", {
                            id: data.login,
                            avatar: data.avatar,
                            ttl: data.ttl,
                            status: data.status,
                        }, {
                            headers: {
                                "Authorization": sessionStorage.getItem("token")
                            }
                        })
                            .then(function () {
                                self.$router.push("/players");
                            })
                            .catch(function (fail) {
                                console.log(fail);
                            });
                    })
                    .catch(function (fail) {
                        console.log(fail);
                    });

                e.preventDefault();
            },
            resetFormAddUer: function () {
                this.$router.push("/players");
            }
        }
    }
</script>

<style scoped>

</style>
