<template>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header" >
                <strong >Modifier l'utilisateur {{ idToEdit }}</strong>

            </div>
            <form  v-if="currentData" @submit="submitFormEditUser" @reset="resetFormEditUser"
                  class="form-horizontal">
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Password</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="password" name="form-password"  class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Avatar</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" name="form-avatar" :placeholder="currentData.avatar" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">ttl</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="number" name="form-ttl" :placeholder="currentData.ttl" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Status</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="form-status" class="form-control">
                                <option :selected="currentData.status === 'alive'" value="alive">alive</option>
                                <option :selected="currentData.status === 'dead'" value="dead">dead</option>
                                <option :selected="currentData.status === 'element'" value="element">element</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Confirmer
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Annuler
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import clientStore from "../../stores/client";
    import Vuex from "vuex";

    export default {
        store: clientStore,
        name: "Edit",
        data() {
            return {
                idToEdit: null,
                currentData: null,
            }
        },
        computed: {
            ...Vuex.mapGetters([
                "getPlayer",
                "getPlayers",
            ])
        },
        methods: {
            updateIdToEdit: function () {
                this.idToEdit = this.$route.params.login;
            },
            getCurrentData: function () {
                this.currentData = this.getPlayer(this.idToEdit);
            }
            ,
            getDataForm: function(form) {
                return {
                    login: this.idToEdit,
                    password: $(form).find("input[name=form-password]").val(),
                    avatar: $(form).find("input[name=form-avatar]").val(),
                    ttl: $(form).find("input[name=form-ttl]").val(),
                    status: $(form).find("select[name=form-status]").val(),
                };
            },
            submitFormEditUser: function(e) {
                const data = this.getDataForm(e.target);

                const self = this;

                if (data.password !== "") {
                    axios.put("https://192.168.75.35/users/user/" + data.login, {
                        login: this.idToEdit,
                        password: data.password
                    }, {
                        headers: {
                            "Content-Type": 'application/json',
                        },
                    })
                        .then(function (response) {
                            self.updatePlayer(data);
                        })
                        .catch(function (fail) {
                            console.log("req 1 " + fail);
                        });
                } else {
                    this.updatePlayer(data);
                }

                e.preventDefault();
            },
            resetFormEditUser: function () {
                this.$router.push("/players");
            },
            updatePlayer: function(data) {

                const self = this;

                axios.put("https://192.168.75.35/api/resources/" + data.login, {
                    id: data.login,
                    avatar: data.avatar,
                    ttl: data.ttl,
                    status: data.status,
                }, {
                    headers: {
                        "Authorization": sessionStorage.getItem("token")
                    }
                })
                    .then(function (response) {
                        self.$router.push("/players");
                    })
                    .catch(function (fail) {
                    });
            }
        },
        watch: {
            getPlayers: function () {
                if (this.currentData === null) {
                    this.updateIdToEdit();
                    this.getCurrentData();
                }
            }
        },
    }
</script>

<style scoped>

</style>