<template>
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="m-b-35">Liste des joueurs</h3>
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>Mot de passe</th>
                        <th>status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="listUser">
                    </tbody>
                    <tr class="tr-shadow" v-for="playerSpring in getDataSpring" :v-player="playerSpring">
                        <td>{{ playerSpring.login }}</td>
                        <td>
                            <span class="block-email">***************</span>
                        </td>
                        <td>
                            <span v-if="playerSpring.connected" class="status--process">Connecté(e)</span>
                            <span v-if="!playerSpring.connected" class="status--denied">Déconnecté(e)</span>
                        </td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="View">
                                    <i class="zmdi zmdi-eye"></i>
                                </button>

                                <button @click="editPlayer(playerSpring.login)" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>

                                <button @click="deletePlayer(playerSpring.login)" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- END DATA TABLE -->
        </div>
        <div class="col-md-12">
            <router-link to="players/add" type="button" id="addUser" class="btn btn-success">
                <i class="fa fa-plus"></i>&nbsp; Ajouter un utilisateur</router-link>
        </div>
    </div>
</template>

<script>

    import clientStore from "../../stores/client";
    import player from "../../directives/player";
    import axios from 'axios';
    import Vuex from "vuex";


    export default {
        name: "Players",
        store: clientStore,
        data() {
            return {
                currentId: ""
            }
        },
        computed: {
            ...Vuex.mapGetters([
                "getDataSpring"
            ])
        },
        methods: {
            deletePlayer: function (login) {
                axios.delete("https://192.168.75.35/users/user/" + login)
                    .then(function (response) {
                        axios.delete("https://192.168.75.35/api/resources/" + login, {
                            headers: {
                                "Authorization": sessionStorage.getItem("token")
                            }
                        })
                            .then(function (response) {
                                clientStore.dispatch("updateDataSpring");
                            })
                            .catch(function (fail) {
                                console.log(fail);
                            });
                    })
                    .catch(function (fail) {
                        console.log(fail);
                    });
            },
            editPlayer: function (login) {
                this.$router.push('/player/' + login + '/edit');
            }
        },
        directives: {
            player: player
        }
    }
</script>

<style scoped>

</style>