<template>
    <v-app id="inspire">
        <v-card class="overflow-hidden">
            <v-app-bar
                    app
                    :dark="dark"
            >
                <v-app-bar-nav-icon class="hidden-md-and-up" @click="drawer = !drawer"></v-app-bar-nav-icon>

                <v-toolbar-title>{{ name }}</v-toolbar-title>

                <v-spacer></v-spacer>

                <v-btn v-if="dark" icon>
                    <v-icon @click="lightMode">mdi-lightbulb</v-icon>
                </v-btn>
                <v-btn v-if="!dark" icon>
                    <v-icon @click="darkMode">mdi-moon-waning-crescent</v-icon>
                </v-btn>

                <v-toolbar-items class="hidden-sm-and-down">
                    <v-btn class="float-right pl-4"
                           style="width: 10vw"
                           v-for="(item, i) in paths"
                           :key="i"
                           v-text="item.title"
                           router
                           exact
                           text
                           @click="$router.push(item.to)"
                    >
                    </v-btn>
                    <v-btn class="float-right pl-4"
                           style="width: 10vw"
                           v-text="'Logout'"
                           v-show="isAuthenticate"
                           text
                           @click.stop="logout"
                    >
                    </v-btn>
                    <v-btn class="float-right pl-4"
                           style="width: 10vw"
                           v-text="'Login'"
                           text
                           v-show="!isAuthenticate"
                    >
                    </v-btn>
                </v-toolbar-items>

            </v-app-bar>
            <v-sheet
                    id="scrolling-techniques-4"
                    style="min-height: 100vh; padding-top: 50px"
                    :dark="dark"
            >
                <v-container fluid>
                    <router-view :dark="dark"></router-view>
                </v-container>
            </v-sheet>
            <v-navigation-drawer v-model="drawer" temporary fixed :dark="dark">
                <v-list nav dense>
                    <v-list-item-group active-class=" text--accent-4">
                        <v-list-item
                                v-for="(item, i) in paths"
                                :key="i"
                                :to="item.to"
                                router
                                exact
                        >
                            <v-list-item-icon>
                                <v-icon v-text="item.icon"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-title :to='item.to'>{{ item.title }}</v-list-item-title>
                        </v-list-item>
                        <v-list-item
                                :to="'/login'"
                                router
                                exact
                                v-if="!isAuthenticate"
                        >
                            <v-list-item-icon>
                                <v-icon v-text="'mdi-login'"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-title :to="'/login'">Login</v-list-item-title>
                        </v-list-item>
                        <v-list-item
                                @click="logout"
                                v-if="isAuthenticate"
                        >
                            <v-list-item-icon>
                                <v-icon v-text="'mdi-logout'"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Logout</v-list-item-title>
                        </v-list-item>

                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>
        </v-card>
    </v-app>
</template>

<script>

    import Vuex from "vuex";

    const clientStore = require('../stores/client').default;

    export default {
        store: clientStore,
        name: "app",
        computed: Vuex.mapGetters([
            'isAuthenticate']
        ),
        data: function () {
            return {
                name: "M1IF13",
                dark: false,
                drawer: false,
                paths: [
                    {
                        icon: "mdi-home", title: "Home", to: "/"
                    },
                    {
                        icon: "mdi-trophy", title: "Trophies", to: "/trophies"
                    }
                ]
            }
        },
        created: function () {
            if (Notification.permission !== 'denied') {
                Notification.requestPermission().then(function (permission) {

                    // Quelque soit la réponse de l'utilisateur, nous nous assurons de stocker cette information
                    if (!('permission' in Notification)) {
                        Notification.permission = permission;
                    }
                });
            }
        },
        methods: {
            lightMode: function() {
                this.dark = false;
            },
            darkMode: function() {
                this.dark = true;
            },
            logout: function () {

                const axios = require('axios').default;
                const token = sessionStorage.getItem('token');
                const origin = window.location.origin;
                self = this;

                axios.delete(
                    "https://192.168.75.35/users/logout?token=" + token
                )
                    .then(function () {
                        clientStore.commit("commit_logout")
                        self.$router.push('login');
                    })
                    .catch(function (error) {
                            console.log(error);
                        }
                    );
            },
        }
    };

</script>

<style scoped>

</style>