<template>
    <v-row>
        <v-col cols="12">
            <h1>Defeat</h1>
        </v-col>

        <v-col cols="12">

            <v-row class="justify-center">
                <v-col cols="12" md="4" lg="3">
                    <v-img
                            position="center"
                            src="img/lose.png"
                            lazy-src="img/lose-lazy.png"
                            aspect-ratio="1"
                    >
                        <template v-slot:placeholder>
                            <v-row
                                    class="fill-height ma-0"
                                    align="center"
                                    justify="center"
                            >
                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                            </v-row>
                        </template>
                    </v-img>
                </v-col>
            </v-row>
        </v-col>
        <v-col cols="12">

            <p>Sorry {{ id }}, you'll do better next time !</p>
            <p>Don't worry you are not alone !</p>

            <div id="listLost">{{ lostPlayers }}</div>
        </v-col>
    </v-row>
</template>

<script>


    import Vuex from "vuex";

    const clientStore = require('../stores/client').default;

    export default {
        store: clientStore,
        name: "Defeat",
        data: function () {
            return {
                id: "",
                lostPlayers: []
            }
        },
        computed: $.extend(
            Vuex.mapGetters([
                'getLogin',
                'getLosers'
            ]), {}
        ),
        methods: {
            updateLogin: function () {
                this.id = this.getLogin;
            },
            updateLostPlayers: function () {
                this.lostPlayers = this.getLosers()
            }
        },
        mounted: function () {
            this.updateLogin();
            this.updateLostPlayers();
            clientStore.commit("commit_add_win_loose");
            navigator.vibrate(100);
        }
    }
</script>

<style scoped>

</style>