<template>
    <div>
        <header>
            <h1>{{ nameApp }}</h1>
        </header>
        <section>
            <h2>Position</h2>
            <v-form @submit="formGraphRequest" class="pure-form pure-form-stacked">
                <fieldset>
                    <v-col cols="12" sm="6" md="3">
                        <v-text-field
                                type="decimals" label="Lattitude" v-model="latitude" :rules="rules"
                                v-bind:value="latitude" @change="updateMap" hide-details="auto">
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="3">
                        <v-text-field
                                type="decimals" label="Longitude" v-model="longitude" :rules="rules"
                                v-bind:value="longitude" @change="updateMap" hide-details="auto">
                        </v-text-field>
                    </v-col>
                    <v-slider
                            v-model="zoom"
                            @change="setZoom"
                            min="1"
                            max="20"
                            label="Zoom"
                            :dark="dark"
                    ></v-slider>
                    <v-input dark="dark" class="btn btn-indigo" type="submit" value="Afficher"></v-input>
                </fieldset>
            </v-form>
        </section>
        <section>
            <h2>Carte</h2>
            <div @click="fullscreenMapSwitch" id="map"></div>
        </section>
    </div>

</template>

<script>


    import Vuex from "vuex";

    const clientStore = require('../stores/client').default;


    var listMarker = L.layerGroup();
    var options = {
        enableHighAccuracy: false,
        timeout: 5000,
        maximumAge: 0
    };

    export default {
        name: "FormGraph",
        store: clientStore,
        data: function () {
            return {
                nameApp: "M1IF13",
                latitude: 45.782,
                longitude: 4.8656,
                fullscreen: false,
                zoom: 15,
                map: null,
                markers: [],
                polygon: null,
                markersElement: [],
                arrayOfLatLngs: [],
                idPos: "",
                rules: [
                    function (value) {
                        const pattern = /^(\-?\d+(\.\d+)?)$/
                        return pattern.test(value) || 'Invalid latitude/longitude'
                    },
                ],
            }
        },
        computed: Vuex.mapGetters([
            "getMarkers",
            "getPlayers",
            "getCurrentPlayer",
            "isAuthenticate",
            "getWinners",
            "getLosers",
            "getGameStarted",
            "checkWinLoose",
            "getPolygone"
        ]),
        methods: {
            formGraphRequest: function (e) {
                clientStore.commit("commit_pos", JSON.stringify({
                    latitude: parseFloat($('#lat').val()),
                    longitude: parseFloat($('#lon').val()),
                    zoom: parseInt($("#zoom").val())
                }));

                e.preventDefault();
            },
            updateMap: function () {
                this.map.setView([this.latitude, this.longitude], this.zoom);
            },
            setZoomValue: function (zoomValue) {
                $('#zoomValue').html($('#zoom').val());
                if (this.zoom !== zoomValue) {
                    this.zoom = zoomValue;
                }
            },
            setZoom: function (zoom) {
                let zoomValue = parseInt($(zoom.target).val());
                if (zoomValue) {
                    this.setZoomValue(zoomValue);
                }
                ;
                this.updateMap();
            },
            setCustomControl: function (map) {
                var self = this;
                L.Control.MyButton = L.Control.extend({
                    options: {
                        position: 'topleft'
                    },

                    onAdd: function (map) {

                        var container = L.DomUtil.create('input');
                        container.type = "button";
                        container.title = "Recentrer";
                        container.value = "";

                        container.style.backgroundColor = 'white';
                        container.style.backgroundImage = "url(img/recentrer.ico)";
                        container.style.backgroundSize = "30px 30px";
                        container.style.height = '30px';
                        container.style.width = '30px';

                        container.onmouseover = function () {
                            container.style.backgroundColor = 'pink';
                        }
                        container.onmouseout = function () {
                            container.style.backgroundColor = 'white';
                        }
                        container.onclick = function () {
                            if (self.getCurrentPlayer.status === "dead") {
                                const bounds = new L.LatLngBounds(self.arrayOfLatLngs);
                                if (bounds.getCenter() !== self.map.getCenter()) {
                                    self.map.setView([bounds.getCenter().lat, bounds.getCenter().lng], self.zoom)
                                }
                            } else {
                                let pos = self.markers[self.getCurrentPlayer.id]._latlng;
                                self.map.setView([pos.lat, pos.lng], self.zoom);
                            }
                        }
                        return container;
                    }

                });

                L.control.myButton = function (opts) {
                    return new L.Control.MyButton(opts);
                }

                L.control.myButton({
                    position: 'topleft',
                }).addTo(map);
            },
            fullscreenMapSwitch: function () {
                if (window.innerHeight < window.innerWidth
                    && window.innerWidth < 768
                    && this.fullscreen === false) {

                    this.fullscreen = true;
                    $('#map').css({
                        position: 'fixed',
                        top: 0,
                        right: 0,
                        bottom: 0,
                        width: "100vw",
                        height: "100%",
                        margin: 0,
                        padding: 0,
                        left: 0,
                        zIndex: 999
                    });
                } else {
                    this.fullscreen = false;
                    $("#map").removeAttr("style");
                    $('#map').css({
                        position: 'relative',
                    });

                }
            },
            createMarker: function (map) {
                L.Icon.Default.imagePath = '/';
                const listPlayer = this.getPlayers;
                this.arrayOfLatLngs = [];
                const elements = this.getMarkers;
                const beforeUpdatePlayer = Object.keys(this.markers);


                for (var i in listPlayer) {
                    var player = listPlayer[i];

                    beforeUpdatePlayer.splice(beforeUpdatePlayer.indexOf(player.id), 1);
                    if (player.status === "dead" && this.markers[player.id]) {
                        map.removeLayer(this.markers[player.id]);
                        delete this.markers[player.id];
                    } else if (!this.markers[player.id] && player.status === "alive") {
                        this.markers[player.id] = L.marker([player.position.latitude, player.position.longitude]);
                        listMarker.addLayer(this.markers[player.id]).addTo(map);
                    } else if (this.markers[player.id]) {
                        this.markers[player.id].setLatLng(new L.LatLng(player.position.latitude, player.position.longitude));
                    }
                    if (this.markers[player.id]) {
                        this.arrayOfLatLngs.push([player.position.latitude, player.position.longitude]);
                        this.markers[player.id].bindPopup(player.id);
                    }
                }


                for (var i in beforeUpdatePlayer) {
                    map.removeLayer(this.markers[beforeUpdatePlayer[i]]);
                    delete this.markers[beforeUpdatePlayer[i]];
                }

                var beforeUpdateElements = Object.keys(this.markersElement);

                for (var i in elements) {
                    const element = elements[i];

                    var icon = new L.icon({
                        iconUrl: element.icon,
                        iconSize: [38, 95],
                        shadowSize: [50, 64],
                        iconAnchor: [22, 94],
                        shadowAnchor: [4, 62],
                        popupAnchor: [-3, -76]
                    });

                    beforeUpdateElements.splice(beforeUpdateElements.indexOf(element.id), 1);

                    if (this.markersElement[element.id] === undefined) {
                        this.markersElement[element.id] = L.marker([element.position[0], element.position[1]], {icon: icon});
                        listMarker.addLayer(this.markersElement[element.id]).addTo(map);
                    } else {
                        this.markersElement[element.id].setLatLng(new L.LatLng(element.position[0], element.position[1], {icon: icon}));
                    }
                }

                for (i in beforeUpdateElements) {
                    map.removeLayer(this.markersElement[beforeUpdateElements[i]]);
                    delete this.markersElement[beforeUpdateElements[i]];
                }


            },
            verifeyPolygone: function (poly1, poly2) {
                if (poly1 != null || poly2 != null) {
                    for (var i = 0; i < poly1.length; i++) {
                        if (poly2[i] == null) {
                            return false
                        }
                        for (var j = 0; j < poly1[i].length; j++) {
                            if (poly2[i][j] == null || poly1[i][j] !== poly2[i][j]) {
                                return false;
                            }
                        }
                    }
                    return true;
                } else {
                    return true;
                }
            },
            createPolygone: function (map) {
                const polygone = this.getPolygone;
                if (polygone) {
                    if(polygone.length !== 0 && this.polygon == null) {
                        this.polygon = L.polygon(polygone);
                        this.polygon.addTo(map);
                    } else if (polygone.length !== 0 &&  !this.verifeyPolygone(this.polygon._latlngs, polygone)
                        && !this.verifeyPolygone(polygone, this.polygon._latlngs)) {
                        map.removeLayer(this.polygon);
                        this.polygon = L.polygon(polygone);
                        this.polygon.addTo(map);
                    } else if (this.polygon && polygone.length === 0) {
                        map.removeLayer(this.polygon);
                        this.polygon = null;
                    }
                } else if (this.polygon) {
                    map.removeLayer(this.polygon);
                    this.polygon = null;
                }
            },
            error: function (err) {
                console.warn('ERROR(' + err.code + '): ' + err.message);
            },

            endGame: function () {

                if (this.getGameStarted === false) {
                    //partie terminé
                    var winner = this.getWinners;
                    var loser = this.getLosers;
                    if (this.checkWinLoose) {
                        if (winner.includes(this.getCurrentPlayer.id)) {
                            this.$router.push('win');
                        } else if (loser.includes(this.getCurrentPlayer.id)) {
                            this.$router.push('lose');
                        }
                    }
                }
            }

        },
        mounted: function () {

            // initialisation de la map
            this.map = L.map('map');

            // Création d'un "tile layer" (permet l'affichage sur la carte)
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibTFpZjEzIiwiYSI6ImNqczBubmhyajFnMnY0YWx4c2FwMmRtbm4ifQ.O6W7HeTW3UvOVgjCiPrdsA', {
                maxZoom: 20,
                minZoom: 1,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets',
            }).addTo(this.map);


            $('#zoomValue').html($('#zoom').val());
            this.createMarker(this.map);

            let self = this;
            this.map.on('zoom', function (event) {
                if (self.zoom !== event.target.getZoom()) {
                    self.setZoomValue(event.target.getZoom());
                }
            });

            this.updateMap();


            this.setCustomControl(this.map);

        },
        watch: {
            getPlayers: function () {
                this.createPolygone(this.map);
                this.createMarker(this.map);
            }
            ,
            getMarkers: function () {
                this.createMarker(this.map);
            },
            getGameStarted: function () {
                this.endGame();
            },
            getPolygone: function () {
                this.createPolygone(this.map);
            }
        }
        ,
        props: [
            "dark",
        ],
        created: function () {
            window.addEventListener("orientationchange", this.fullscreenMapSwitch);
            window.addEventListener("resize", this.fullscreenMapSwitch);

        }
    }


</script>

<style scoped>

</style>