<template>
    <v-row class="d-flex justify-center">
        <v-col
                lg="4"
                md="8"
                sm="12"
        >
            <v-card
                    class="mt-5"
            >
                <!-- Default form login -->

                <v-card-title>Sign in</v-card-title>

                <v-form @submit="login" class="pa-4">
                    <v-row justify="center">
                        <v-col cols="12" md="6">
                            <v-text-field
                                    type="text" label="Your Id" v-model="id" hide-details="auto">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row justify="center">
                        <v-col cols="12" md="6">
                            <v-text-field
                                    type="password" label="Your password" v-model="password" hide-details="auto">
                            </v-text-field>
                        </v-col>
                    </v-row>

                    <v-card-actions class="justify-center">
                        <v-btn
                                type="submit"
                                text
                                color="deep-purple accent-4"
                        >
                            Login
                        </v-btn>
                    </v-card-actions>
                </v-form>
                <!-- Default form login -->
            </v-card>
        </v-col>
    </v-row>
</template>

<script>


    const clientStore = require('../stores/client').default;

    export default {
        name: "Login",
        store: clientStore,
        data: function () {
            return {
                id: "",
                password: ""
            }
        },

        methods: {
            urlBase64ToUint8Array: function (base64String) {
                var padding = '='.repeat((4 - base64String.length % 4) % 4);
                var base64 = (base64String + padding)
                    .replace(/\-/g, '+')
                    .replace(/_/g, '/');

                var rawData = window.atob(base64);
                var outputArray = new Uint8Array(rawData.length);

                for (var i = 0; i < rawData.length; ++i) {
                    outputArray[i] = rawData.charCodeAt(i);
                }
                return outputArray;
            },
            register: function (pseudo) {

                const subscribeOptions = {
                    userVisibleOnly: true,
                    applicationServerKey: this.urlBase64ToUint8Array(
                        'BA6d7V1CqYpXi2R-3WEa6tXNJGzNgU_2Gu84xgZ5C7iQePX2kCx-bY8NcOBjmbDkHSJfHKB1ywdHayd5imzoeEc'
                    )
                };

                navigator.serviceWorker.ready.then(function (registration) {

                    registration.pushManager.subscribe(subscribeOptions).then(function (subscription) {
                        console.log("Push connecté")
                        return subscription;
                    }).then(function (pushSubscription) {
                        fetch('https://192.168.75.35/api/resources/' + pseudo + '/subscription', {
                            method: 'POST',
                            body: JSON.stringify(pushSubscription),
                            headers: {
                                'content-type': 'application/json',
                                'Authorization': sessionStorage.getItem('token')
                            }
                        }).then(function () {
                            console.log('success');
                        });
                    })
                })
            },
            login: function (e) {
                const axios = require('axios').default;

                const self = this;

                axios.post(
                    "https://192.168.75.35/users/login" + "?login=" + self.id + "&password=" + self.password
                    // "https://localhost:8081/login"+ "?login="+ data.id +"&password="+ data.password
                )
                    .then(function (response) {
                        const token = JSON.stringify(response.headers.authorization);
                        sessionStorage.setItem('token', token);
                        clientStore.commit("commit_login", self.id);
                        if(navigator.serviceWorker) {
                            self.register(self.id)
                        }
                        self.$router.push('/');
                    })
                    .catch(function (error) {
                            console.log(error);
                        }
                    );

                clientStore.commit("commit_login", self.id);
                e.preventDefault();
            }
        }
    }
</script>

<style scoped>

</style>
