<template>
    <div>
        <h1>Vos Trophées</h1>

                <v-data-table
                        :headers="headers"
                        :items="trophy"
                        class="elevation-1"
                >
                        <template v-slot:item.medaille="{ item }">
                            <img v-if="item.medaille" :src="item.medaille" style="width: 50px; height: 50px" />
                        </template>

                </v-data-table>

    </div>
</template>

<script>

    import Vuex from "vuex";
    const clientStore = require('../stores/client').default;

    export default {
        store: clientStore,
        data: function() {
            return {
                headers: [
                    {
                        text: 'Nom',
                        align: 'start',
                        sortable: false,
                        value: 'id',
                    },
                    { text: 'Description', value: 'description' },
                    { text: 'Points', value: 'points' },
                    { text: 'Médaille', value: 'medaille' },
                ],
                trophy: []
            }
        },
        computed: $.extend(
            Vuex.mapGetters([
                "getTrophies",
                "isAuthenticate"
            ]), {


            }
        ),
        methods: {
            updateTrophy: function () {
                this.trophy = this.getTrophies;
            }
        },
        mounted: function() {
            this.updateTrophy();
        },
        watch: {
            getTrophies: function () {
                this.updateTrophy();
            }
        },

    }
</script>

<style scoped>

</style>