<template>
    <v-row>
        <v-col cols="12">

            <h1>Victory</h1>
        </v-col>
        <v-col cols="12">

        <v-row class="justify-center">
            <v-col cols="12" md="4" lg="3">
                <v-img
                        position="center"
                        src="img/win.jpg"
                        lazy-src="img/win-lazy.jpg"
                        aspect-ratio="1"
                >
                    <template v-slot:placeholder>
                        <v-row
                                class="fill-height ma-0"
                                align="center"
                                justify="center"
                        >
                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                        </v-row>
                    </template>
                </v-img>
            </v-col>
        </v-row>
        </v-col>
        <v-col cols="12">

            <p>{{ id }}, you just won the game !</p>

            <p>Here are the winners : </p>
            <div id="winners">{{ winners }}</div>
        </v-col>
    </v-row>
</template>

<script>

    import Vuex from "vuex";

    const clientStore = require('../stores/client').default;

    export default {
        store: clientStore,
        name: "Victory",
        data: function () {
            return {
                id: "",
                winners: []
            }
        },
        computed: $.extend(
            Vuex.mapGetters([
                'getLogin',
                'getWinners'
            ]), {}
        ),
        methods: {
            updateLogin: function () {
                this.id = this.getLogin;
            },
            updateWinners: function () {
                this.winners = this.getWinners;
            }
        },
        mounted: function () {
            this.updateLogin();
            this.updateWinners();
            clientStore.commit("commit_add_win_loose");
            navigator.vibrate(100);
        }
    }
</script>

<style scoped>

</style>