<template>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Add game</strong>
            </div>
            <form @submit="submitFormAddGame" @reset="resetFormAddGame"
                  class="form-horizontal">
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" name="form-name" placeholder="Name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Confirmer
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Annuler
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

    import axios from 'axios';
    import clientStore from "../../stores/client";

    export default {
        name: "Add",
        store: clientStore,
        methods: {
            getDataForm: function(form) {
                return {
                    id: $(form).find("input[name=form-name]").val(),
                };
            },
            submitFormAddGame: function(e) {

                const data = this.getDataForm(e.target);
                const self = this;

                axios.post("https://192.168.75.35/api/games", data, {
                    headers: {
                        "Authorization": sessionStorage.getItem("token")
                    }
                })
                    .then(function () {
                        self.$router.push("/games");
                    })
                    .catch(function (fail) {
                        console.log(fail);
                    });

                e.preventDefault();
            },
            resetFormAddGame: function () {
                this.$router.push("/games");
            }
        }
    }
</script>

<style scoped>

</style>
