<template>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header" >
                <strong >Modifier la partie {{ idToEdit }}</strong>

            </div>
            <form @submit="submitFormEditGame" @reset="resetFormEditGame"
                  class="form-horizontal">
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Round</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="number" min="0" name="form-round" :placeholder="currentData.round" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group justify-content-center">
                        <div class="col-12 col-md-9">
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                    <tr class="text-center">
                                        <th colspan="2">participant list ( {{ getPlayersInGame(idToEdit).length }} )</th>
                                    </tr>
                                    </thead>
                                    <tbody id="listUser">
                                    </tbody>
                                    <tr class="tr-shadow" v-for="player in getPlayersInGame(idToEdit)">
                                        <td>{{ player.id }}</td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button type="button" @click="leaveGame(player.id)" class="item">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Ajouter une joueur</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="form-player" class="form-control">
                                <option
                                        v-for="player in getPlayersOutGame(idToEdit)"
                                        :selected="currentData.status === 'alive'" v-bind:value="player.id">{{ player.id }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <button @click="addPlayer" to="/games/add" type="button" id="addUser" class="btn btn-success">
                            <i class="fa fa-plus"></i>&nbsp; Ajouter le joueur</button>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Confirmer
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Annuler
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import clientStore from "../../stores/client";
    import Vuex from "vuex";

    export default {
        store: clientStore,
        name: "Edit",
        data() {
            return {
                idToEdit: null,
                currentData: {
                    id: null,
                },
            }
        },
        computed: {
            ...Vuex.mapGetters([
                "getGame",
                "getGames",
                "getPlayersInGame",
                "getPlayersOutGame",
            ])
        },
        methods: {
            updateIdToEdit: function () {
                this.idToEdit = this.$route.params.id;
            },
            getCurrentData: function () {
                this.currentData = this.getGame(this.idToEdit);
            }
            ,
            getDataForm: function(form) {
                return {
                    id: this.idToEdit,
                    round: parseInt($(form).find("input[name=form-round]").val()),
                };
            },
            submitFormEditGame: function(e) {
                const data = this.getDataForm(e.target);
                const self = this;

                if (data.password !== "") {
                    axios.put("https://192.168.75.35/api/games/" + data.id, data, {
                        headers: {
                            "Content-Type": 'application/json',
                            "Authorization": sessionStorage.getItem("token")
                        },
                    })
                        .then(function () {
                            self.$router.push("/games");
                        })
                        .catch(function (fail) {
                            console.log("req 1 " + fail);
                        });
                } else {
                    this.updatePlayer(data);
                }

                e.preventDefault();
            },
            resetFormEditGame: function () {
                this.$router.push("/games");
            },
            leaveGame: function(login) {
                axios.delete("https://192.168.75.35/api/games/" + this.idToEdit + "/leave/" + login, {
                    headers: {
                        "Content-Type": 'application/json',
                        "Authorization": sessionStorage.getItem("token")
                    },
                })
            },
            addPlayer: function () {
                const pseudo  = $($("select[name=form-player]")[0]).val();
                axios.put("https://192.168.75.35/api/games/" + this.idToEdit + "/join", {
                    id: pseudo
                }, {
                    headers: {
                        "Content-Type": 'application/json',
                        "Authorization": sessionStorage.getItem("token")
                    },
                })
            }
        },
        watch: {
            getGames: function () {
                if (this.currentData.id === null) {
                    this.updateIdToEdit();
                    this.getCurrentData();
                }
            }
        }
    }
</script>

<style scoped>

</style>