<template>
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="m-b-35">Liste des parties</h3>
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>number of participants</th>
                        <th>round</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="listUser">
                    </tbody>
                    <tr class="tr-shadow" v-for="game in getGames">
                        <td>{{ game.id }}</td>
                        <td>{{ game.players.length }}</td>
                        <td>{{ game.round }}</td>
                        <td>
                            <button class="btn btn-danger" @click="stopGame(game.id)" v-if="game.started">Stop</button>
                            <button class="btn btn-success" @click="startGame(game.id)" v-if="!game.started">Start</button>
                        </td>
                        <td>
                            <div class="table-data-feature">
                                <button @click="viewGame(game.id)"  class="item" data-toggle="tooltip" data-placement="top" title="View">
                                    <i class="zmdi zmdi-eye"></i>
                                </button>

                                <button @click="editGame(game.id)" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>

                                <button @click="deleteGame(game.id)" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- END DATA TABLE -->
        </div>
        <div class="col-md-12">
            <router-link to="/games/add" type="button" id="addUser" class="btn btn-success">
                <i class="fa fa-plus"></i>&nbsp; Ajouter une partie</router-link>
        </div>
    </div>
</template>

<script>

    import clientStore from "../../stores/client";
    import Vuex from "vuex";
    import axios from "axios";

    export default {
        store: clientStore,
        data() {
            return {

            }
        },
        computed: {
            ...Vuex.mapGetters([
                "getGames"
            ])
        },
        methods: {
            deleteGame: function (id) {
                axios.delete("https://192.168.75.35/api/games/" + id, {
                    headers: {
                        "Authorization": sessionStorage.getItem("token")
                    }
                })
                    .then(function (response) {
                    })
                    .catch(function (fail) {
                        console.log(fail);
                    });
            },
            editGame: function (id) {
                this.$router.push('game/' + id + '/edit');
            },
            viewGame: function (id) {
                this.$router.push('game/' + id + '/view');
            },
            startGame: function (id) {
                axios.put("https://192.168.75.35/api/game/" + id + "/start", null,{
                    headers: {
                        "Authorization": sessionStorage.getItem("token")
                    }
                })
                    .then(function (response) {
                    })
                    .catch(function (fail) {
                        console.log(fail);
                    });
            },
            stopGame: function (id) {
                axios.put("https://192.168.75.35/api/game/" + id + "/stop", null,{
                    headers: {
                        "Authorization": sessionStorage.getItem("token")
                    }
                })
                    .then(function (response) {
                    })
                    .catch(function (fail) {
                        console.log(fail);
                    });
            },
        }
    }

</script>

<style scoped>

</style>