<template>
    <div class="row">
        <div class="col-12">
            <h2>Carte</h2>
            <div class="form-group">
                <label for="zoom">Lien d'image du marker : <span id="linkMarker"></span></label>

                <input type="text" id="markerLink" name="link"
                       v-bind:value="linkMarker" @input="setLinkMarker" class="form-control">
            </div>
            <div class="form-group">
                <label for="zoom">Numéro de round : </label>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" name="minus" @click="minus">
                                <span class="fas fa-minus"></span>
                            </button>
                        </span>
                        <input type="text" name="round" class="form-control input-number" v-bind:value="round" min="1">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" @click="plus">
                                <span class="fas fa-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="zoom">Zoom : <span id="zoomValue"></span></label>
                <input type="range" class="form-control-range" id="zoom" name="zoom" min="1" max="20"
                       @change="setZoomEvent" v-bind:value="zoom">
            </div>

        </div>
        <div class="col-12">
            <div id="map"></div>
        </div>
        <div class="col-12">
            <router-link to="/games" class="btn btn-danger btn-sm">
                <i class="fa fa-dot-circle-o"></i> Retour
            </router-link>
            <button class="btn btn-danger" @click="stopGame()" v-if="isStarted">Stop</button>
            <button class="btn btn-success" @click="startGame()" v-if="!isStarted">Start</button>
        </div>
    </div>
</template>

<script>

    import clientStore from "../../stores/client";
    import Vuex from "vuex";

    const axios = require('axios');
    import "leaflet-toolbar";
    import "leaflet-draw";


    export default {
        methods: {
            stopGame() {
                axios.put("https://192.168.75.35/api/game/" + this.idToEdit + "/stop", null,{
                    headers: {
                        "Authorization": sessionStorage.getItem("token")
                    }
                })
                    .then(function (response) {
                    })
                    .catch(function (fail) {
                        console.log(fail);
                    });
            },
            startGame() {
                axios.put("https://192.168.75.35/api/game/" + this.idToEdit + "/start", null,{
                    headers: {
                        "Authorization": sessionStorage.getItem("token")
                    }
                })
                    .then(function (response) {
                    })
                    .catch(function (fail) {
                        console.log(fail);
                    });
            },
            plus: function() {
                this.round ++;
            },
            minus: function() {
                if (this.round > 1) {
                    this.round --;
                }
            },
            updateIdToEdit: function () {
                this.idToEdit = this.$route.params.id;
            },
            formGraphRequest: function (e) {
                clientStore.commit("commit_pos", JSON.stringify({
                    latitude: parseFloat($('#lat').val()),
                    longitude: parseFloat($('#lon').val()),
                    zoom: parseInt($("#zoom").val())
                }));

                e.preventDefault();
            },
            updateMap: function () {
                this.map.setView([this.latitude, this.longitude], this.zoom);
            },
            setZoomValue: function (zoomValue) {
                $('#zoomValue').html($('#zoom').val());
                if (this.zoom !== zoomValue) {
                    this.zoom = zoomValue;
                    let self = this;
                    self.map.setView([self.map.getCenter().lat, self.map.getCenter().lng], self.zoom);
                }
            },
            setZoomEvent: function (zoom) {
                let zoomValue = parseInt($(zoom.target).val());
                if (zoomValue) {
                    this.setZoomValue(zoomValue);
                }
            },
            setLinkMarker: function (event) {
                this.linkMarker = $(event.target).val();
            },
            createMarker: function (map) {
                let self = this;
                L.Icon.Default.imagePath = '/';
                const game = this.getGame(this.idToEdit);
                this.isStarted = game.started;
                const listPlayer = this.getPlayersInGame(this.idToEdit);
                const arrayOfLatLngs = [];
                const beforeUpdatePlayer = Object.keys(this.markers);

                for (var i in listPlayer) {
                    var player = listPlayer[i];
                    beforeUpdatePlayer.splice(beforeUpdatePlayer.indexOf(player.id), 1);

                    if (player.status === "dead") {

                        delete this.markers[player.id];
                    } else if (!this.markers[player.id]) {
                        this.markers[player.id] = L.marker([player.position.latitude, player.position.longitude]);
                    } else {
                        this.markers[player.id].setLatLng(new L.LatLng(player.position.latitude, player.position.longitude));
                    }
                    if (this.markers[player.id]) {
                        arrayOfLatLngs.push([player.position.latitude, player.position.longitude]);
                        this.markers[player.id].bindPopup(player.id);
                        this.listMarker.addLayer(this.markers[player.id]).addTo(map);
                    }
                }
                for (var i in beforeUpdatePlayer) {
                    map.removeLayer(this.markers[beforeUpdatePlayer[i]]);
                    delete this.markers[beforeUpdatePlayer[i]];
                }

                if (arrayOfLatLngs.length > 0) {
                    const bounds = new L.LatLngBounds(arrayOfLatLngs);
                    if (bounds.getCenter() !== map.getCenter()) {
                        this.map.setView([bounds.getCenter().lat, bounds.getCenter().lng], this.zoom)
                    }
                }

                if (!this.editStart && !this.removeStart) {

                    var listMarkers = game.markers.filter(
                        e => e.round === self.round
                    );
                    var beforeUpdateElements = game.markers.map(e => e.id);

                    for (const i in listMarkers) {
                        const element = listMarkers[i];

                        var icon = new L.icon({
                            iconUrl: element.icon,
                            iconSize: [20, 70],
                            iconAnchor: [10, 70],
                        });

                        beforeUpdateElements.splice(beforeUpdateElements.indexOf(element.id), 1);

                        if (this.markersElement[element.id] === undefined) {
                            this.markersElement[element.id] = L.marker([element.position[0], element.position[1]], {icon: icon});
                            this.listElement.addLayer(this.markersElement[element.id]).addTo(map);
                        } else {
                            this.markersElement[element.id].setLatLng(new L.LatLng(element.position[0], element.position[1], {icon: icon}));
                        }
                    }
                    for (i in beforeUpdateElements) {
                        if (this.markersElement[beforeUpdateElements[i]]) {
                            map.removeLayer(this.markersElement[beforeUpdateElements[i]]);
                            delete this.markersElement[beforeUpdateElements[i]];
                        }
                    }


                }

            },
            verifeyPolygone: function(poly1, poly2) {
                if(poly1 != null || poly2 != null){
                    for(var i=0; i < poly1.length; i++) {
                        if(poly2[i] == null) {
                            return false
                        }
                        for(var j = 0; j < poly1[i].length; j++) {
                            if (poly2[i][j] == null || poly1[i][j] !== poly2[i][j] ) {
                                return false;
                            }
                        }
                    }
                    return true;
                } else {
                    return true;
                }
            },
            createPolygone: function(map) {
                const polygone = this.getPolygone(this.idToEdit);
                if (polygone) {
                    if(polygone.length !== 0 && this.polygon == null) {
                        this.polygon = L.polygon(polygone);
                        this.polygon.addTo(map);
                    } else if (polygone.length !== 0 &&  !this.verifeyPolygone(this.polygon._latlngs, polygone)
                        && !this.verifeyPolygone(polygone, this.polygon._latlngs)) {
                        map.removeLayer(this.polygon);
                        this.polygon = L.polygon(polygone);
                        this.polygon.addTo(map);
                    } else if (this.polygon && polygone.length === 0) {
                        map.removeLayer(this.polygon);
                        this.polygon = null;
                    }
                } else if (this.polygon) {
                    map.removeLayer(this.polygon);
                    this.polygon = null;
                }
            },
        },
        store: clientStore,
        data() {
            return {
                isStarted: false,
                nameApp: "M1IF13",
                linkMarker: "https://192.168.75.35/marker-icon.png",
                latitude: 45.782,
                longitude: 4.8656,
                zoom: 15,
                map: null,
                round: 1,
                markers: {},
                listMarker: L.layerGroup(),
                listElement: new L.FeatureGroup(),
                markersElement: {},
                editStart: false,
                removeStart: false,
                polygon: null
            }
        },
        computed: {
            ...Vuex.mapGetters([
                "getPlayers",
                "getGame",
                "getPlayersInGame",
                "getPolygone"
            ])
        },
        mounted() {

            // initialisation de la map
            this.map = L.map('map');

            // Création d'un "tile layer" (permet l'affichage sur la carte)
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibTFpZjEzIiwiYSI6ImNqczBubmhyajFnMnY0YWx4c2FwMmRtbm4ifQ.O6W7HeTW3UvOVgjCiPrdsA', {
                maxZoom: 20,
                minZoom: 1,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets',
            }).addTo(this.map);
            $('#zoomValue').html($('#zoom').val());

            let self = this;
            this.map.on('zoom', function (event) {
                if (self.zoom !== event.target.getZoom()) {
                    self.setZoomValue(event.target.getZoom());
                }
            });

            this.updateMap();

            var drawControl = new L.Control.Draw({
                draw: {
                    position: 'topleft',
                    rectangle: false,
                    circle: false,
                    polygon: true,
                    marker: {
                        // marker options here
                    },
                    polyline: false,
                    circlemarker: false,

                },
                edit: {
                    featureGroup: self.listElement,
                },
            });

            this.map.on(L.Draw.Event.CREATED, function (e) {
                if (e.layerType === "polygon") {
                    var array = e.layer.editing.latlngs;

                    axios.put("https://192.168.75.35/api/game/" + self.idToEdit + "/polygon", array, {
                        headers: {
                            "Content-Type": 'application/json',
                            "Authorization": sessionStorage.getItem("token")
                        },
                    });
                } else if (e.layerType === "marker") {

                    const layer = e.layer;
                    const latLng = layer.getLatLng();

                    axios.put("https://192.168.75.35/api/game/" + self.idToEdit + "/markers/", {
                        position: [latLng.lat, latLng.lng],
                        round: self.round,
                        icon: self.linkMarker,
                    }, {
                        headers: {
                            "Content-Type": 'application/json',
                            "Authorization": sessionStorage.getItem("token")
                        },
                    });
                }
            });

            this.map.on(L.Draw.Event.DELETESTART, function (e) {
                self.removeStart = true;
            });

            this.map.on(L.Draw.Event.DELETESTOP, function (e) {
                self.removeStart = false;
                var layers = self.listElement.getLayers();
                var afterUpdateElements = [];

                for (const i in layers) {
                    afterUpdateElements.push(layers[i]._leaflet_id);
                }

                for (const i in self.markersElement) {
                    const element = self.markersElement[i];

                    if (afterUpdateElements.indexOf(element._leaflet_id) === -1) {
                        axios.delete("https://192.168.75.35/api/game/" + self.idToEdit + "/marker/" + i, {
                            headers: {
                                "Content-Type": 'application/json',
                                "Authorization": sessionStorage.getItem("token")
                            },
                        });
                    }
                }

            });

            this.map.addControl(drawControl);

        },
        watch: {
            getPlayers: function () {
                this.updateIdToEdit();
                this.createMarker(this.map);
                this.createPolygone(this.map);

            },
        }
    }

</script>

<style scoped>

</style>