
@media only screen and (max-width: 600px) {
	#map {
		height: 200px;
		margin: 20px;
		z-index: 0;
	}
}

@media only screen and (min-width: 600px) {
	#map {
		height: 600px;
		margin: 20px;
		z-index: 0;
	}
}
